html, body, ul, li, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,span,i,input,select,textarea,div { margin:0; padding:0;}
body{font:12px "微软雅黑";color:#333;}
ul{ list-style:none; }
h1, h2, h3, h4, h5, h6,i{font-style:normal; font-weight:normal;}
a{color:#333; text-decoration:none;}
img{border:none;}